html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-color: lemonchiffon;
}

.search-form {
  text-align: center;
}

.search-form input {
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 30%;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(151, 151, 151);
  outline: transparent;
}

.load-more {
  display: none;
  margin: 20px auto;
  border-radius: 5px;
  background: #fff;
  border: 1px solid rgb(151, 151, 151);
  padding: 10px 20px;
  cursor: pointer;
  color: rgb(65, 65, 65);
  outline: transparent;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.photo-card {
  width: 30%;
  list-style: none;
  margin-bottom: 30px;
}

.stats {
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}
